@import './vars.less';

html, body {
  background: #f0f0f0;
  height: 100%;
  width: 100%;
}

body .vux-header {
  .vux-header-left, .vux-header-right {
    a, button, .left-arrow:before {
      color: #fff;
    }
  }
  .vux-header-back {
    font-size: 16px;
    vertical-align: middle;
  }
}

.vux-x-icon {
  fill: #166fd8;
  display: inherit;
}

.m-a{
  margin: 10px;
}

.m-r {
  margin-right: 10px;
}
.m-t-sm {
  margin-top: 5px;
}

.m-t {
  margin-top: 10px;
}

.m-t-lg {
  margin-top: 20px;
}

.m-t-xlg {
  margin-top: 40px;
}

.m-b {
  margin-bottom: 10px;
}

.m-b-lg {
  margin-bottom: 20px;
}

.p-t-lg {
  padding-top: 20px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.p {
  padding: 10px;
}

.p-sm {
  padding: 5px;
}
.text-sm {
  font-size: 0.9em;
}


.clear-viewbox-default-top {
  margin-top: -45px;
}

.clear-viewbox-default-bottom {
  margin-bottom: -50px;
}

.arrow-right:after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -4px;
}

.green {
  color: @green;
}

.red {
  color: @red;
}

.blue {
  color: @azul;
}

.grey {
  color: #666;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.input-errors {
  font-size: 14px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  .text {
    list-style: circle inside;
    color: #ff9800;
  }
}

.text-danger {
  color: @red
}
.text-success {
  color: @green
}

.vux-input-icon.weui-icon.weui_icon_warn.weui-icon-warn {
  display: none;
}

.vux-header{
  .vux-header-right{
    a.vux-header-more {
      font-size: 16px;
      font-weight: bold;
      &::after {
        display: inline-block;
        transform: rotate(90deg);
        content: '\2026';
      }
    }
  }
}

.emoji.vux-indicator.vux-indicator-center {
  bottom: 5px;
  .vux-icon-dot.active {
    background: #9b9b9b;
  }
}

.banner.vux-indicator.vux-indicator-center {
  bottom: -5px;
  .vux-icon-dot {
    width: 8px;
    height: 2px;
    border-radius: none;
  }
}


.close-btn {
  position: relative;
  width: 30px;
  height: 30px;
  &::before, &::after {
    position: absolute;
    content: ' ';
    top: 5px;
    right: 15px;
    height: 20px;
    width: 2px;
    background-color: #fff;
  }
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.record-table.vux-table {
  margin-top: 10px;
  background-color: #fff;
  text-align: left;
  color: #333;
  font-size: 13px;
  &::after {
    display: none;
  }
  td {
    text-align: left;
    padding: 10px 0 10px 12px;
  }
  .record-thead {
    background-color: #f0f0f0;
    color: #666;
    font-size: 13px;
    th {
      padding: 10px 0 10px 12px;
      text-align: left;
      font-size: 13px;
      line-height: 20px;
    }
    th::after {
      display: none;
    }
  }
  .no-data {
    td {
      background: #f0f0f0;
      text-align: center;
      &::before {
        display: none;
      }
    }
  }
}

.bet-items {
  height: 150px;
  overflow-y: auto;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  color: #333;
  padding: 10px 0;
  .bet-item {
    text-align: left;
    .weui-cell {
      padding: 5px;
      .weui-cell__hd {
        width: calc(~"100%" - 60px)
      }
      .weui-input{
        width: 60px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-left: 5px;
      }
    }
  }
}

.set-bottom {
  position: absolute;
  width: 100%;
  bottom: 73px;
  text-align: center;
  &.second {
    bottom: 123px;
  }
}

.dot-title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  padding: 8px 16px;
  margin-right: 4px;
  color: #666;
  font-size: 14px;
  .dot {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    width: 20px;
    &::before {
      position: absolute;
      top: 6px;
      left: 6px;
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #166fd8;
      box-shadow: 0 1px 6px 0 rgba(26, 114, 218, 0.25);
      border-radius: 50%;
    }
    &::after {
      position: absolute;
      top: 2px;
      left: 2px;
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: rgba(22, 111, 216, 0.1);
      border-radius: 50%;
    }
  }
}

@hasicon: false;

.stamp {
  &-wrapper {
    box-sizing: border-box;
    padding-right: 50px;
    width: 100%;
  }
  &.hasicon {
    padding-left: 42px;
  }
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0 8px 32px;
  width: 100%;
  background: #fff;
  filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.2));

  .title {
    color: #333;
    font-size: 14px;
    margin-left: -12px;
    margin-bottom: 10px;
  }

  .item {
    .icon {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 10px;
      top: 10px;
    }

    margin-bottom: 12px;
    width: 100%;
    &.half {
      width: 50%;
    }
    &.quarter {
      display: inline-block;
      width: auto;
      padding-right: 30px;
      @media screen and (max-width: 480px) {
        padding-right: 15px;
      }
      @media screen and (min-width: 481px) {
        padding-right: 40px;
      }
      @media screen and (max-width: 320px) {
        .item-title {
          font-size: 13px;
        }

        .item-content {
          font-size: 14px;
        }
      }
    }
    .item-title {
      height: 18px;
      line-height: 18px;
      color: #999;
      font-size: 13px;
      word-break: keep-all;
    }
    .item-content {
      font-size: 16px;
      color: #333;
      &.bigger {
        font-size: 22px;
      }
    }
  }
  &:after {
    position: absolute;
    top: 0;
    right: -20px;
    content: "";
    display: block;
    background: radial-gradient(circle, rgba(255,255,255,0) 6px, #fff 7px);
    background-size: 50px 16px;
    background-position: 17px 2px;
    height: 100%;
    width: 40px;
    z-index: -1;
  }
}

// inline service link
.service-link {
  color: #166fd8;
  text-decoration: underline;
}

.stretch-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.solid-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  &.point-top {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
  }
  &.point-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.filter.vux-datetime.weui-cell.weui-cell_access {
  .weui-cell__ft {
    width: 100px;
    text-align: left;
    color: #666;
    padding: 0;
    &::after {
      display: none;
    }
  }
}
.filter.vux-cell-box {
  .weui-cell.vux-tap-active.weui-cell_access{
    display: flex;
    flex: 1;
    width: 100px;
    padding: 0;
    .weui-cell__ft {
      display: none;
    }
  }
}

.box-center {
  margin: 0 auto;
}
