@import './vars.less';

html, body {
  background: #f0f0f0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.m-t {
  margin-top: 10px;
}

.m-b {
  margin-bottom: 10px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: 0.9em;
}

.m-a{
  margin: 10px;
}

.clear-viewbox-default-top {
  margin-top: -45px;
}

.clear-viewbox-default-bottom {
  margin-bottom: -50px;
}

.arrow-right:after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -4px;
}
.green {
  color: @green;
}
.red {
  color: @red;
}

