
html, body {
  background: #f0f0f0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.m-t {
  margin-top: 1em;
}

.m-b {
  margin-bottom: 1em;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 0.9em;
}

.m-a-md {
  padding: 10px 15px;
}
