.game-category-container, .chat-game-category-container {
  height: 100%;
  background: #eee;
  .playgroup-title {
    font-size: 13px;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 18px;
    line-height: 18px;
    text-align: left;
    background: #eee;
    color: #666;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px
  }
  .playgroup-content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    background: #eee;
  }
  .gameplays {
    background: #eee;
  }
  .gameplays + .gameplays.no-title{
    padding-top: 5px;
  }

  .playgroup-odds {
    height: 17px;
    line-height: normal;
    text-align: center;
    color: #999;
  }

  .play-wrapper {
    box-sizing: border-box;
    padding-right: 5px;
    padding-bottom: 5px;
    &.active {
      .play-area{
        background: #156fd8;
      }
      .play-name {
        color: #fff;
        &.plain {
          color: black; // lay over default active for plain ball
        }
      }
      .play-odds {
        color: #fff;
      }
    }
  }

  .play-area {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: #fff;
    border-radius: 4px;
  }
  .play-name {
    white-space: nowrap;
    font-size: 16px;
    color: #444;
  }
  .play-nums {
    display: flex;
    align-items: center;
    .play-num {
      color: #333;
      margin: 0 3px;
      display: inline-block;
    }
  }
  @media screen and (max-width: 360px) {
    .play-nums {
      .play-num {
        margin: 0 1px;
      }
    }
  }
  .play-odds {
    font-size: 12px;
    color: #999;
    &.right {
      position: absolute;
      right: 5px;
    }
  }
  @media screen and (max-width: 360px) {
    .play-odds {
      font-size: 13px;
    }
  }
}
