/*game latest result balls*/

/*specific: ssc type games, common: ball_2.png*/
$results_ssc: tjssc, xjssc, cqssc, jsssc, csffc, pcdd, bjkl8, auluck8, gd11x5, gdklsf, fc3d, jnd28, cqlf, luckdd;
$ssc_length: length($results_ssc);

%plain-ball {
  border-radius: 100%;
  background: radial-gradient(circle at 5px 5px, #fff, #ccc);
  height: 22px;
  width: 22px;
  line-height: 22px;
  text-align: center;
  color: #333;
  font-weight: normal;
  font-size: 15px;
}

@for $index from 1 through $ssc_length {
  .result-#{nth($results_ssc, $index)} {
    @extend %plain-ball;
    &.play {
      height: 35px;
      line-height: 35px;
      width: 35px;
      font-size: 20px;
      &.text-sm {
        font-size: 16px;
      }
    }
  }
  @media screen and (max-width: 320px) {
    .result-#{nth($results_ssc, $index)}.result {
      height: 19px;
      line-height: 19px;
      width: 19px;
      font-size: 14px;
      &.play.small {
        height: 30px;
        line-height: 30px;
        width: 30px;
        font-size: 18px;
        &.text-sm {
          font-size: 14px;
        }
      }
    }
  }
}

/*specific: racing games, common: ball-pk.png*/
$results_racing: jspk10, bcr, mlaft, er75ft, cs60cr;
$racing_length: length($results_racing);

@for $index from 1 through $racing_length {
  .result-#{nth($results_racing, $index)} {
    background: url("../assets/racingicon.jpg") no-repeat;
    background-size: 100% 1000%;
    height: 20px;
    width: 20px;
    .num {
      display: none;
    }
    &.play {
      height: 33px;
      width: 33px;
    }
    @for $num from 1 through 10 {
      &.resultnum-#{$num} {
        background-position: 0 (-20px * ($num - 1));
        &.play {
          background-position: 0 (-33px * ($num - 1));
        }
      }
    }
    @media screen and (max-width: 320px) {
      &.result {
        height: 18px;
        width: 18px;
      }
      @for $num from 1 through 10 {
        &.resultnum-#{$num}.result {
          background-position: 0 (-18px * ($num - 1));
        }
      }
    }
  }
}

/*each one below just has its own single ball png*/
$results_k3: jsk3, msk3, bjk3;
$k3_length: length($results_k3);

@for $index from 1 through $k3_length {
  .result-#{nth($results_k3, $index)} {
    background: url("../assets/ball_4.png") no-repeat;
    background-size: 100% 600%;
    height: 27px;
    width: 27px;
    .num {
      display: none;
    }
    &.play {
      height: 33px;
      width: 33px;
    }

    @for $num from 1 through 6 {
      &.resultnum-#{$num} {
        background-position: 0 (-27px * ($num - 1));
        &.play {
          background-position: 0 (-33px * ($num - 1));
        }
      }
    }
  }
}





.result-cshkl,
.result-luckl,
.result-hkl {
  background: url("../assets/ball_hk6.png") no-repeat;
  background-size: 100% 4900%;
  height: 28px;
  width: 28px;
  .num {
    display: none;
  }

  @for $num from 1 through 49 {
    &.resultnum-#{$num} {
      background-position: 0 (-28px * ($num - 1));
    }
  }
}

@media screen and (max-width: 320px) {
  .result-cshkl,
  .result-luckl,
  .result-hkl {
    height: 24px;
    width: 24px;
    @for $num from 1 through 49 {
      &.resultnum-#{$num} {
        background-position: 0 (-24px * ($num - 1));
      }
    }
  }
}

