/*game latest result balls*/

$gamesmap: (
  sscgames: tjssc xjssc cqssc jsssc ynssc hjssc csffc klsf fc3d cs10fc cs5fc,
  racinggames: jspk10 bcr mlaft er75ft cs60cr cs600cr,
  gdgames: gd11x5 gdklsf ah11x5 bj11x5 gs11x5 fh11x5,
  k3games: jsk3 msk3 bjk3 gxk3 shk3 hubk3,
  ddgames: pcdd jnd28 luckdd,
  k8games: bjkl8 auluck8
);
/*specific: ssc type games, common: ball_2.png*/
$results_ssc: map-get($gamesmap, sscgames);
$ssc_length: length($results_ssc);

%plain-ball {
    background: url("../assets/ball_2.png") no-repeat;
    background-size: 100% 1000%;
    width: 30px;
    height: 30px;
    text-indent: -999em;
}

@for $index from 1 through $ssc_length {
  .result-#{nth($results_ssc, $index)} {
    @extend %plain-ball;
    @for $num from 0 through 9 {
      &.resultnum-#{$num} {
        background-position: 0 (-30px * $num);
      }
    }
    &.play {
      $size: 35px;
      height: $size;
      width: $size;
      font-size: 20px;
      &.text-sm {
        white-space: nowrap;
        font-size: 20px;
        color: #444;
        background: none;
        text-indent: 0;

        .num {
          line-height: 16px;
        }
      }
      @for $num from 0 through 9 {
        &.resultnum-#{$num} {
          background-position: 0 (-$size * $num);
        }
      }
    }
  }
  @media screen and (max-width: 320px) {
    .result-#{nth($results_ssc, $index)}.result {
      $size: 19px;
      height: $size;
      width: $size;
      font-size: 14px;
      @for $num from 0 through 9 {
        &.resultnum-#{$num} {
          background-position: 0 (-$size * $num);
        }
      }
      &.play.small {
        $size: 30px;
        height: $size;
        width: $size;
        font-size: 18px;
        &.text-sm {
          font-size: 14px;
        }
        @for $num from 0 through 9 {
          &.resultnum-#{$num} {
            background-position: 0 (-$size * $num);
          }
        }
      }
    }
  }
}

/*specific: racing games, common: ball-pk.png*/
$results_racing: map-get($gamesmap, racinggames);
$racing_length: length($results_racing);

@for $index from 1 through $racing_length {
  .result-#{nth($results_racing, $index)} {
    background: url("../assets/racingicon.jpg") no-repeat;
    background-size: 100% 1000%;
    height: 20px;
    width: 20px;
    .num {
      display: none;
    }
    &.play {
      height: 33px;
      width: 33px;
    }
    @for $num from 1 through 10 {
      &.resultnum-#{$num} {
        background-position: 0 (-20px * ($num - 1));
        &.play {
          background-position: 0 (-33px * ($num - 1));
        }
      }
    }
    @media screen and (max-width: 320px) {
      &.result {
        height: 18px;
        width: 18px;
      }
      @for $num from 1 through 10 {
        &.resultnum-#{$num}.result {
          background-position: 0 (-18px * ($num - 1));
        }
      }
    }
  }
}

/*specific: guandong region games, common: ball_1.png*/
$results_gd: map-get($gamesmap, gdgames);
$gd_length: length($results_gd);

@for $index from 1 through $gd_length {
  .result-#{nth($results_gd, $index)} {
    background: url("../assets/ball_1.png") no-repeat;
    background-size: 100% 2000%;
    width: 26px;
    height: 26px;
    text-indent: -999em;
    @for $num from 1 through 20 {
      &.resultnum-#{$num} {
        background-position: 0 (-26px * ($num - 1 ));
      }
    }
  }
}

/*each one below just has its own single ball png*/
$results_k3: map-get($gamesmap, k3games);
$k3_length: length($results_k3);

@for $index from 1 through $k3_length {
  .result-#{nth($results_k3, $index)} {
    background: url("../assets/ball_4.png") no-repeat;
    background-size: 100% 600%;
    height: 27px;
    width: 27px;
    .num {
      display: none;
    }
    &.play {
      height: 33px;
      width: 33px;
    }

    @for $num from 1 through 6 {
      &.resultnum-#{$num} {
        background-position: 0 (-27px * ($num - 1));
        &.play {
          background-position: 0 (-33px * ($num - 1));
        }
      }
    }
  }
}

.result-cs75hkl,
.result-cshkl,
.result-cs600hkl,
.result-csjndhkl,
.result-cs75hkl,
.result-luckl,
.result-hkl {
  &.view {
    // for animation
    height: 24px;
    width: 24px;
  }
  .num {
    background: url("../assets/ball_hk6.png") no-repeat;
    background-size: 100% 4900%;
    height: 24px;
    width: 24px;
    text-indent: -9999px;
    display: inline-block;
  }

  @for $num from 1 through 49 {
    &.resultnum-#{$num} .num{
      background-position: 0 (-24px * ($num - 1));
    }
  }
}

// for game plays
.gameplays {
  .result-cs75hkl,
  .result-cshkl,
  .result-cs600hkl,
  .result-csjndhkl,
  .result-luckl,
  .result-hkl {
    background: url("../assets/ball_hk6.png") no-repeat;
    background-size: 100% 4900%;
    height: 30px;
    width: 30px;
    .num {
      display: none;
    }

    @for $num from 1 through 49 {
      &.resultnum-#{$num} {
        background-position: 0 (-30px * ($num - 1));
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .result-cs75hkl,
  .result-cshkl,
  .result-cs600hkl,
  .result-csjndhkl,
  .result-cs75hkl,
  .result-luckl,
  .result-hkl {
    .num {
      height: 24px;
      width: 24px;
      @for $num from 1 through 49 {
        &.resultnum-#{$num} {
          background-position: 0 (-24px * ($num - 1));
        }
      }
    }
  }
}

$results_dd: map-get($gamesmap, ddgames);
$dd_length: length($results_dd);
@for $index from 1 through $dd_length {
  .result-#{nth($results_dd, $index)} {
    background: url("../assets/ball_pcdd.png") no-repeat;
    background-size: 100% 2800%;
    width: 26px;
    height: 26px;
    text-indent: -999em;
    @for $num from 0 through 27 {
      &.resultnum-#{$num} {
        background-position: 0 (-26px * $num);
      }
    }
  }
}

.result-cqlf {
  background: url("../assets/ball_nc_top.png") no-repeat;
  background-size: 100% 2000%;
  $size: 24px;
  width: $size;
  height: $size;
  text-indent: -999em;
  @for $num from 1 through 20 {
    &.resultnum-#{$num} {
      background-position: 0 (-$size * ($num - 1 ));
    }
  }
}

$results_l8: map-get($gamesmap, k8games);
$l8_length: length($results_l8);
@for $index from 1 through $l8_length {
  .result-#{nth($results_l8, $index)} {
    $size: 22px;
    background: url("../assets/ball_5_small.png") no-repeat;
    background-size: 100% 8000%;
    width: $size;
    height: $size;
    text-indent: -999em;
    @for $num from 1 through 80 {
      &.resultnum-#{$num} {
        background-position: 0 (-$size * ($num - 1 ));
      }
    }
  }
}
@media screen and (max-width: 320px) {
  @for $index from 1 through $l8_length {
    .result-#{nth($results_l8, $index)}:not(.play) {
      $size: 19px;
      width: $size;
      height: $size;
      @for $num from 1 through 80 {
        &.resultnum-#{$num} {
          background-position: 0 (-$size * ($num - 1 ));
        }
      }
    }
  }
}