.theme (@main: @azul, @gradient, @playColor) {
  .topbar {
    background-color: @main;
    background-image: @gradient;
    &__right {
      .link .login {
        color: @main;
      }
    }
  }
  .vux-popup-dialog.popup.vux-popup-right {
    .userinfo {
      .username {
        background-color: @main;
        background-image: @gradient;
      }
    }
  }

  .cube-popup-container {
    .cube-picker-confirm {
      color: @main;
      &:active {
        color: lighten(@main, 10%);
      }
    }
  }

  .weui-btn_primary {
    background-color: @main;
    background-image: @gradient;
    &:active {
      background-color: @main;
      background-image: linear-gradient(to right, @main, darken(@main, 15%));
    }
    &:not(.weui-btn_disabled):active {
      background-color: @main;
      background-image: linear-gradient(to right, @main, darken(@main, 15%));
    }
    &.weui-btn_disabled {
      background-color: #dddddd;
    }
    &.weui-btn_loading {
      background-color: @main;
      background-image: @gradient;
    }
    &.active {
      background-color: @main;
      background-image: linear-gradient(to right, @main, darken(@main, 15%));
    }
  }

  .service-btn {
    background-color: @main;
  }
  .weui-btn_plain-primary {
    color: @main;
    border: 1px solid @main;
  }
  .weui-btn_plain-primary:not(.weui-btn_plain-disabled):active {
    color: @main;
    border: 1px solid @main;
  }
  .weui-btn.weui-btn_default {
    border: 1px solid @main;
    color: @main;
  }

  .vux-tab .vux-tab-item.vux-tab-selected {
    color: @main;
    border-bottom: 3px solid @main;
  }

  .weui-dialog__btn_primary {
    color: @main;
  }

  .read-agreement .link {
    color: @main;
  }

  .weui-icon-success {
    color: @main;
  }
  .vux-check-icon > .weui-icon-success:before,
  .vux-check-icon > .weui-icon-success-circle:before {
    color: @main;
  }

  .game-group .game-item .game-label-text {
    background-color: lighten(@main, 30%);
    color: darken(@main, 30%);
  }

  .game-label .game-label-text {
    background-color: lighten(@main, 30%);
    color: darken(@main, 30%);
  }

  .game-ad-info {
    background-image: @gradient;
  }

  .category-menu-item.active {
    background-color: @playColor;
  }

  .weui-grid.play.active {
    background-color: @playColor;
  }

  .gameclosed-mask .mask.color{
    background-color: @main;
  }

  .dp-header .dp-item {
    color: @main;
    &.dp-right {
      color: @main;
    }
  }

  .info-panel {
    background:  @gradient;
    background-color: @main;
    .info-panel-item {
      background: none;
    }
  }

  .calendar-contentitem .calendar-chosenday {
    background-color: @main;
  }

  .calendar-contentitem .calendar-hasbet::after {
    background-color: @main;
  }

  .fin-tabs .tab-view {
    background-image: @gradient;;
    .tab-item.selected .tab-item-text {
      color: @main;
    }
  }

  .vux-slider > .vux-indicator > a > .vux-icon-dot.active, .vux-slider .vux-indicator-right > a > .vux-icon-dot.active {
    background-color: @main;
  }

  .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon > i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
    color: @main;
  }

  .vux-cell-bd.vux-cell-primary .register {
    color: @main;
  }

  .balance-info .button {
    background-image: @gradient
  }

  .tracker-area .option.active {
    background-color: @playColor;
    border: 1px solid @playColor;
  }

  .trend-diagram-container {
    .tab {
      .tab-item.active {
        color: @main;
        border-color: @main;
      }
    }
  }
}

.theme0 { // processing
  @main: #eee;
  @gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  @playColor: @azul;
  .theme(@main, @gradient, @playColor);
}

.theme1 {// default
  .calendar-contentitem .calendar-chosenday {
    background-color: #166fd8;
  }
  .calendar-hasbet::after {
    background-color: #166fd8;
  }
  .game-label .game-label-text {
    background-color: #d0e2f7;
    color: #113f7c;
  }
}

.theme2 {
  @main: #1976d2;
  @gradient:  linear-gradient(to right, #57c4e9, #3c81d2);
  @playColor: #4caae0;
  .theme(@main, @gradient, @playColor);
}

.theme3 {
  @main: #dd603a;
  @gradient: linear-gradient(to right, #fabb6d, #d74d38);
  @playColor: #f1a060;
  .theme(@main, @gradient, @playColor);
}

.theme4 {
  @main: #53b8df;
  @gradient: linear-gradient(to right, #6ad9bb, #4fb2e4);
  @playColor: #4caae0;
  .theme(@main, @gradient, @playColor);
}

.theme5 {
  @main: #6a42a6;
  @gradient: linear-gradient(to left, #915bdd, #4f94e4);
  @playColor: #7b6edf;
  .theme(@main, @gradient, @playColor);
}
