// color
@red: #d0021b;
@green: #7bb32e;
@azul: #156fd8;

@white: #fff;
@grayscale1: #f0f0f0;
@grayscale2: #DDDDDD;
@grayscale3: #C8C8CD;
@grayscale4: #999999;
@grayscale5: #666666;
@grayscale6: #333333;
@orange: #ff9800;
@yellow: #fcc100;

@font-large: 16px;

@global-loading-mask-zindex: 999;
